{% extends "layout.html" %}

{% block body %}

  <body class="mb-5 pb-5">
    <div class="container">
      <header class="blog-header py-3">
        <div class="row flex-nowrap justify-content-between align-items-center">
          <div class="col-4 pt-1">
            {% if user.is_authenticated %}
                <a class="btn btn-sm btn-outline-secondary" href="{% url 'profile' user.username %}">Profile</a>
                <a class="btn btn-sm btn-secondary" href="{% url 'logout' %}">Log out</a>
            {% else %}
                <a class="text-muted" href="{% url 'login' %}">Login</a>
            {% endif %}
          </div>
          <div class="col-4 text-center">
            <a class="blog-header-logo text-dark" href="{% url 'index' %}">The Newer Times</a>
          </div>
          <div class="col-4 d-flex justify-content-end align-items-center">
            {% if not user.is_authenticated %}
              <a class="btn btn-sm btn-outline-secondary" href="{% url 'register' %}">Sign up</a>
              {% elif user.is_authenticated %}
                {% if check_editor == True %}
                  <a class="btn btn-sm btn-outline-secondary" href="{% url 'create_article' %}">Create Article</a>
                {% endif %}
            {% endif %}
            <button type="button" class="btn btn-sm btn-outline-secondary search_button ml-2" data-toggle="modal" data-target="#Modal">
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="mx-3"><circle cx="10.5" cy="10.5" r="7.5"></circle><line x1="21" y1="21" x2="15.8" y2="15.8"></line></svg>
            </button>
          </div>
        </div>
      </header>

      <div class="nav-scroller py-1 mb-2">
        <nav class="nav d-flex justify-content-between">
          {% for category in categories %}
            <a class="p-2 text-muted" href="{% url 'filter_articles' category.category_code %}">{{ category }}</a>
          {% endfor %}
        </nav>
      </div>

      <div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-labelledby="Search" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="ModalLabel">Search Article Titles</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <form action="{% url 'search' %}" method="get" class="input-group">
                  {% csrf_token %}
                  <input type="text" name="search_query" class="form-control" aria-label="Search query input">
                  <div class="input-group-append">
                    <input type="submit" class="btn btn-outline-secondary" value="Submit">
                  </div>
                </form>
            </div>
          </div>
        </div>
      </div>

      {% if most_recent %}
        <div class="text-white bg-dark card flex-md-row rounded mb-5">
          <img class="card-img-left flex-auto d-md-block" alt="{{ most_recent.article_title }}" src="{{ most_recent.banner_image }}" style="max-height:400px; width: auto;">
          <div class="card-body d-flex flex-column align-items-start p-3 p-md-5">
              <strong class="d-inline-block mb-2 text-success">{{ most_recent.category }}</strong>
              <h3 class="mb-0">
                <a class="text-white display-4 font-italic" href="{% url 'single_post' most_recent.article_title %}">{{ most_recent.article_title }}</a>
              </h3>
              <div class="mb-1 text-white">{{ most_recent.timestamp|date:"F j" }}</div>
              <p class="card-text mb-auto lead my-3">{{ most_recent.article_content|slice:":35" }} ... </p>
          </div>
        </div>
      {% endif %}
      <div class="row mb-2">
        {% if other_articles %}
          {% for article in other_articles %}
          <div class="col-md-6">
            <div class="card flex-md-row mb-4 box-shadow h-md-250">
              <div class="card-body d-flex flex-column align-items-start" style="overflow: hidden;">
                <strong class="d-inline-block mb-2 text-success">{{ article.category }}</strong>
                <h3 class="mb-0">
                  <a class="text-dark" href="{% url 'single_post' article.article_title %}">{{ article.article_title }}</a>
                </h3>
                <div class="mb-1 text-muted">{{ article.timestamp|date:"F j" }}</div>
                <p class="card-text mb-auto">{{ article.article_content|slice:":35" }} ... </p>
                <a href="{% url 'single_post' article.article_title %}">Continue reading</a>
              </div>
              <img class="card-img-right flex-auto d-md-block" alt="{{ article.article_title }}" src="{{ article.banner_image }}" style="max-height:400px; width: auto;">
            </div>
          </div>
          {% endfor %}
        {% endif %}
        {% if not other_articles and not most_recent %}
          <div class="col-md-6">
            <div class="card flex-md-row mb-4 box-shadow">
                <div class="card-body d-flex flex-column align-items-start">
                    <p class="d-inline-block card-text">No Published Articles.</p>
                </div>
            </div>
          </div>
        {% endif %}
      </div>
    </div>

{% endblock %}
